@import "reset.sass"
@import "utils.sass"
@import "open-color.scss"

$fa-font-path: "../webfonts"
@import "font-awesome/brands.scss"
@import "font-awesome/fontawesome.scss"
@import "font-awesome/solid.scss"

$body-background: $oc-gray-1
$body-width: 1028px
$border-radius: 1rem

$navbar-height: 6rem
$navbar-hover: $oc-gray-7
$navbar-border: 0.4rem

$navbar-item-width: 12rem
$navbar-item-colors: (($oc-blue-5, $oc-gray-3), ($oc-blue-6, $oc-gray-4), ($oc-blue-7, $oc-gray-5), ($oc-blue-8, $oc-gray-6), ($oc-blue-9, $oc-gray-7))
$navbar-title-color: $oc-gray-7
$navbar-text: $oc-white

$footer-height: 12rem

html
  min-height: 100vh
  background-color: $body-background
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif

body
  min-height: 100vh
  max-width: $body-width
  display: flex
  flex-direction: column
  padding-left: 4rem
  padding-right: 4rem
  margin-left: auto
  margin-right: auto
  font-size: 1.6rem

nav.navbar
  height: $navbar-height
  display: flex
  justify-content: space-between
  align-items: center

  .title
    height: 100%
    display: flex
    align-items: center
    flex-grow: 1
    font-size: 2.8rem
    text-decoration: none
    color: $navbar-title-color
    font-weight: bold

    .avatar
      height: 5rem
      border-radius: $border-radius
      margin-right: 1rem

  .menu
    height: 100%
    display: flex
    align-items: center

    .item:first-child
      border-bottom-left-radius: $border-radius

    .item:last-child
      border-bottom-right-radius: $border-radius

    .item
      height: 100%
      width: $navbar-item-width
      display: flex
      align-items: center
      justify-content: center
      color: $navbar-text
      text-decoration: none
      font-weight: bold

      // Colorize them
      @for $i from 1 through length($navbar-item-colors)
        $colors: nth($navbar-item-colors, $i)

        &:nth-child(#{$i})
          background-color: nth($colors, 1)
          border-bottom: $navbar-border solid nth($colors, 2)

    .item:hover
      color: $navbar-hover

    .item.dropdown
      position: relative

      .trigger
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        text-decoration: none
        color: $navbar-text

        &:hover
          color: $navbar-hover

        .icon
          padding-left: 0.4rem

      .content
        display: none

      &:hover
        .content
          display: flex
          flex-direction: column
          position: absolute
          top: 6.4rem
          left: 0
          width: 16rem
          background-color: rgba($oc-gray-9, 0.8)
          border-radius: $border-radius

          a:first-child
            border-top-left-radius: $border-radius
            border-top-right-radius: $border-radius

          a:last-child
            border-bottom-left-radius: $border-radius
            border-bottom-right-radius: $border-radius

          a
            color: $navbar-text
            padding: 1rem

            &:hover
              color: $oc-gray-5
              background-color: rgba($oc-black, 0.2)

    .item.social
      height: 100%
      display: flex
      align-items: center
      padding-left: 1.6rem
      padding-right: 1.6rem

      .icon
        color: $navbar-text
        padding: 0.8rem

        &:hover
          color: $navbar-hover

main
  flex-grow: 1
  margin-top: 4rem
  margin-bottom: 8rem

  h1
    font-weight: bold
    font-size: 3rem
    color: $oc-gray-8

  .summary
    display: flex
    flex-direction: row
    padding-bottom: 4rem
    border-bottom: 0.2rem solid $oc-gray-3
    padding-top: 4rem

    .image
      height: 18rem
      width: 32rem
      display: flex
      justify-content: center
      flex-shrink: 0

      img
        max-height: 18rem
        max-width: 32rem

    .content
      margin-left: 4rem

      .title
        margin-bottom: 1rem

        a
          color: $oc-black
          font-size: 2rem

          &.post
            font-weight: 500

      .meta
        display: flex
        font-size: 1.4rem
        color: $oc-gray-7

        .series
          margin-right: 1ch

        a
          color: $oc-gray-7

      .desc
        margin-top: 2rem
        color: $oc-gray-9
        line-height: 2.2rem

        a
          color: $oc-blue-5

  .pagination
    height: 12rem
    display: flex
    justify-content: center
    align-items: center

    a
      color: $oc-gray-7
      margin-right: 1ch
      margin-left: 1ch

    a.active
      text-decoration: underline

footer
  height: $footer-height
  display: flex
  align-items: center
  justify-content: center

  p
    color: $oc-gray-7
