<div class="has-padding-bottom-4">
    <a href="{{ .Permalink }}">
        <div class="has-margin-bottom-3">
            <h1 class="is-size-2-tablet is-size-3-mobile has-text-dark">{{ .Title }}</h1>
            <p class="is-size-4-tablet is-size-5-mobile has-text-grey">{{ .Description }}</p>
        </div>

        <img
        class="has-margin-bottom-3"
        src="{{ .Site.BaseURL }}{{.Params.featuredimage }}"
        />
    </a>

    <p class="is-size-5">
        {{ .Summary }}
        {{ if .Truncated }}
        <a href="{{ .Permalink }}">Read more...</a>
        {{ end }}
    </p>
</div>