{{ define "main" }}
<article class="post">
  <h1 class="h1 mb2">{{ .Title }}</h1>

  <div class="fr meta pb3">
    {{ if .Params.Series }}
    <a class="mr1ch tdn" href="/series/{{ .Params.Series | urlize  }}" title="More {{ .Params.Series }} posts">
      <i class="fas fa-th-list"></i>
      {{ .Params.Series }}
    </a>
    {{ end }}

    {{ if .Date }}
    <div class="date" title="Posted on{{ .Date.Format " Jan 2, 2006" }}">
      <i class="fas fa-calendar-day"></i>
      <time>{{ .Date.Format "Jan 2, 2006" }}</time>
    </div>
    {{ end }}
  </div>

  <div class="markdown-body">
    {{ .Content }}
  </div>
</article>
{{ end }}