<!-- Post Summary -->
<div class="py4 fr-tablet post-summary">
  {{ $thumbnailPath := or .Params.thumbnail (path.Join .RelPermalink .Site.Params.defaultPostThumbnailPath) }}
  {{ if os.FileExists $thumbnailPath }}
  <a class="fr jcc fs0" href="{{ .Permalink }}">

      <div class="thumbnail-container fc">
        <img class="thumbnail aic" src="{{ $thumbnailPath }}" />
      </div>
  </a>
  {{ end }}

  <div class="ml4-tablet mt3-phone">
    <a class="mb1 fw500 tdn h4" href="{{ .Permalink }}">
      {{ if .Draft }}
      <span class="draft-warning">(Draft)</span>
      {{ end }} 
      {{ .Title }}
    </a>

    <div class="fr meta">
      {{ if .Params.Series }}
      <a class="mr1ch tdn" href="/series/{{ .Params.Series | urlize  }}" title="More {{ .Params.Series }} posts">
        <i class="fas fa-th-list"></i>
        {{ .Params.Series }}
      </a>
      {{ end }}

      {{ if .Date }}
      <div class="date" title="Posted on{{ .Date.Format " Jan 2, 2006" }}">
        <i class="fas fa-calendar-day"></i>
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      </div>
      {{ end }}
    </div>

    {{ if .Description }}

    <p class="mt2">
      {{ .Description | plainify }}
      <a class="db mt1" href="{{ .Permalink }}">Read more...</a>
    </p>
    {{ else }}
    <p class="mt2">
      {{ .Summary | plainify }}
      <a class="db mt1" href="{{ .Permalink }}">Read more...</a>
    </p>
    {{ end }}

  </div>
</div>