<!-- Post Summary -->
<div class="py4 fr post-summary">
  <a class="fr jcc fs0" href="{{ .Permalink }}">
    {{ if isset .Params "thumbnail" }}
    <img class="thumbnail" src="{{ .Site.BaseURL }}{{.Params.thumbnail }}" />
    {{ end }}
  </a>

  <div class="ml4-tablet mt3-phone">
    <a class="db mb1 fw500 tdn h3" href="{{ .Permalink }}">{{ .Title }}</a>

    <div class="fr details">
      {{ if .Params.Series }}
      <a class="mr1ch tdn" href="/series/{{ .Params.Series | urlize  }}" title="More {{ .Params.Series }} posts">
        <i class="fas fa-th-list"></i>
        {{ .Params.Series }}
      </a>
      {{ end }}

      {{ if .Date }}
      <div class="date" title="Posted on{{ .Date.Format " Jan 2, 2006" }}">
        <i class="fas fa-calendar-day"></i>
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      </div>
      {{ end }}
    </div>

    <p class="mt2">
      {{ .Summary }}
      {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
      {{ end }}
    </p>
  </div>
</div>