<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}
  {{ with .OutputFormats.Get "RSS" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}

  {{/* Compile SCSS */}}
  {{ $styles := resources.Get "sass/index.sass" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  {{ $markdownStyles := resources.Get "css/github-markdown.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $markdownStyles.Permalink }}" integrity="{{ $markdownStyles.Data.Integrity }}" media="screen">


  <script data-goatcounter="https://tgpo.eddieabbondanz.io/count" async
    src="//tgpo.eddieabbondanz.io/count.js"></script>

</head>

<body>
  {{ partial "navbar" . }}
  <div id="hamburger-menu" class="hamburger-menu">
    {{ range .Site.Menus.main }} {{ if not .HasChildren }}
    <a href="{{ .URL | relURL }}">{{ .Name }}</a>
    {{ else }}

    <div>
      <a> {{ .Name }} </a>

      <div class="ml2">
        <a href="{{ $.Site.Params.hostName }}/post/"> All </a>

        {{ range .Children }}
        <a href="{{ .URL | relURL }}"> {{ .Name }} </a>
        {{ end }}
      </div>
    </div>
    {{ end }}{{ end }}

    <div class="fr jcse">
      {{ with .Site.Params.github }}
      <a href="{{ . }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-github fa-lg"></i>
        </span>
      </a>
      {{ end }}{{ with .Site.Params.linkedin }}
      <a href="{{ . }}" target="_blank">
        <span class="icon is-medium">
          <i class="fab fa-linkedin fa-lg"></i>
        </span>
      </a>
      {{ end }}
    </div>
  </div>

  <main>
    {{ if and (not .IsHome) (ne .RelPermalink "/404.html") }}
    <h1 class="title">{{ .Title }}</h1>
    {{ end }}
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer" . }}
  <script src="/js/lol.js"></script>
</body>


</html>