<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}
  {{ with .OutputFormats.Get "RSS" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}

  {{/* Compile SCSS */}}
  {{ $styles := resources.Get "sass/index.sass" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  <script data-goatcounter="https://tgpo.eddieabbondanz.io/count" async src="//tgpo.eddieabbondanz.io/count.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>
</head>

<body>
  {{ partial "navbar" . }}
  {{ partial "hamburger" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer" . }}
  <script src="/js/lol.js"></script>
  {{ partial "pagefind" }}
</body>

</html>