<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">{{ end }}
  {{ with .OutputFormats.Get "RSS" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}

  {{/* Compile SCSS */}}
  {{ $styles := resources.Get "sass/styles.sass" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  {{ template "_internal/google_analytics_async.html" . }}
</head>

<body>
  {{ partial "navbar" . }}

  <main>
    {{ if not .IsHome }}
    <h1 class="title">{{ .Title }}</h1>
    {{ end }}
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer" . }}
</body>

</html>