<div class="summary">
  <a href="{{ .Permalink }}">
    {{ if isset .Params "thumbnail" }}
    <img style="max-height:240px" src="{{ .Site.BaseURL }}{{.Params.thumbnail }}" />
    {{ else if isset .Params "featuredimage" }}
    <img style="max-height:240px" src="{{ .Site.BaseURL }}{{.Params.featuredimage }}" />
    {{ end }}
  </a>

  <div class="content">
    <div class="title">
      {{ if .Params.Series }}
      <a class="series" href="/series/{{ .Params.Series | urlize  }}">
        {{ .Params.Series }}
      </a>

      <span class="divider">
        >>
      </span>
      {{ end }}

      <a class="post" href="{{ .Permalink }}">{{ .Title }}</a>
    </div>

    {{ if .Date }}
    <div class="date" title="Posted on{{ .Date.Format " Jan 2, 2006" }}">
      <i class="fas fa-calendar-day"></i>
      <time>{{ .Date.Format "Jan 2, 2006" }}</time>
    </div>
    {{ end }}

    <p class="desc">
      {{ .Summary }}
      {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
      {{ end }}
    </p>
  </div>
</div>