<div class="is-flex is-align-items-center has-margin-bottom-5">
    <h2 class="is-size-4 has-text-grey has-margin-right-2">Filterd By:</h2>

    {{ if .IsNode }}
    <i class="material-icons has-margin-right-2 is-size-3 has-text-grey">folder</i>

    <div class="dropdown">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                <span>Category</span>
                <span class="icon is-small">
                    <i class="material-icons" aria-hidden="true">expand_more</i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {{ range $key, $value := .Site.Taxonomies.categories }}
                <a class="dropdown-item" href="/categories/{{ $key | urlize }}">{{ $key | title }}</a>
                <hr class="dropdown-divider" />
                {{ end }}
            </div>
        </div>
    </div>

    {{ else if eq .Data.Singular "category" }}
    <i class="material-icons has-margin-right-2 is-size-3 has-text-grey">folder</i>

    <span class="tag is-info is-large">
        {{ .Title }}

        <a class="is-flex flex-column is-align-items-center" href="{{ .Site.BaseURL }}">
            <button class="delete"></button>
        </a>
    </span>
    {{ end }}
</div>
