{{ $baseurl := .Site.BaseURL }}

<div style="width: 100%; text-align: center;">
    <h1 class="site-title">
        <span  class="base05">[Eddie Abbondanzio]</span>
    </h1>

    <div style="text-align: center; width: 54%; display: inline-block">
        <p>
            My personal blog, that revolves around
            game development, automotive restoration, and more.
        </p>
    </div>

    <div class="hero-logo">
      <img src="{{ $baseurl }}img/base16-eighties.svg">
    </div>
</div>
