<nav class="navbar">
  <div class="title">
    <a href="{{ .Site.BaseURL }}">
      Eddie Abondanzio
    </a>
  </div>

  <div class="menu">
    {{ range .Site.Menus.main }}
    {{ if not .HasChildren }}
    <a class="item single" href="{{ .URL | relURL }}">{{ .Name }}</a>
    {{ else }}
    <div class="item dropdown">
      <a class="trigger" href="{{ .URL | relURL }}">{{ .Name }}
        <span class="icon is-medium"><i class="fas fa-chevron-down"></i></span>
      </a>

      <div class="content">
        <a href="{{ $.Site.Params.hostName }}/post/"> All </a>

        {{ range .Children }}
        <a href="{{ .URL | relURL }}"> {{ .Name }} </a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
    <div class="item social">
      {{ with .Site.Params.github }}
      <a href="{{ . }}" target="_blank" title="GitHub">
        <span class="icon is-medium">
          <i class="fab fa-github fa-lg"></i>
        </span>
      </a>
      {{ end }}{{ with .Site.Params.twitter }}
      <a href="{{ . }}" target="_blank" title="Twitter">
        <span class="icon is-medium"><i class="fab fa-twitter fa-lg"></i></span>
      </a>
      {{ end }}{{ with .Site.Params.linkedin }}
      <a href="{{ . }}" target="_blank" title="Linkedin">
        <span class="icon is-medium">
          <i class="fab fa-linkedin fa-lg"></i>
        </span>
      </a>
      {{ end }}
    </div>
  </div>
</nav>