<nav class="navbar fr jcsb aic mt2-phone">
  <a class="title h100 fr aic tdn fwb" href="{{ .Site.BaseURL }}">
    <img class="avatar mr2" src="{{ .Site.Params.avatar }}" />
    Eddie Abbondanzio
  </a>

  <div id="site-search" class="pr2" >
    <!-- Gets populated by pagefind -->
  </div>

  <div class="menu h100 aic fr-tablet dn-phone">
    {{ range .Site.Menus.main }}
    {{ if not .HasChildren }}
    <a class="item single" href="{{ .URL | relURL }}">{{ .Name }}</a>
    {{ else }}
    <div class="item dropdown">
      <a class="trigger">{{ .Name }}
        <span class="icon"><i class="fas fa-chevron-down"></i></span>
      </a>

      <div class="content">
        <a href="{{ $.Site.Params.hostName }}/post/"> All </a>

        {{ range .Children }}
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
    <div class="item social h100 fr aic px3">
      {{ with .Site.Params.github }}
      <a href="{{ . }}" target="_blank" title="GitHub">
        <span class="icon">
          <i class="fab fa-github fa-lg"></i>
        </span>
      </a>
      {{ end }}{{ with .Site.Params.linkedin }}
      <a href="{{ . }}" target="_blank" title="Linkedin">
        <span class="icon">
          <i class="fab fa-linkedin fa-lg"></i>
        </span>
      </a>
      {{ end }}
    </div>
  </div>

  <a id="hamburger" class="hamburger" href="#">
    <span class="icon">
      <i class="fa fa-bars fa-lg"></i>
    </span>
  </a>

</nav>