<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<script>
  const DRAWER_QUERY = ".pagefind-ui__drawer"

  // Docs: https://pagefind.app/docs/ui/
  window.addEventListener('DOMContentLoaded', (event) => {
    const pageFind = new PagefindUI({
    element: "#site-search", showSubResults: false, pageSize: 10, translations: {
      placeholder: "Search posts"
    } });


    // Show if click was inside search bar
    const input = document.querySelector("#site-search input")
    input.addEventListener("focus", () => {
      const drawer = document.querySelector(DRAWER_QUERY)
      if(drawer) {
        drawer.classList.remove("hidden")
      }
    })

    // Hide if click was outside of search
    window.addEventListener("click", (ev) => {
      if(!ev.target.closest("#site-search")) {
        const drawer = document.querySelector(DRAWER_QUERY)
        drawer.classList.add("hidden")
      }
    })
  });
</script>