<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<script>
  const DRAWER_ID = "pagefind-ui__drawer"

  // Docs: https://pagefind.app/docs/ui/
  window.addEventListener('DOMContentLoaded', (event) => {
    const pageFind = new PagefindUI({
        element: "#site-search", showSubResults: false, pageSize: 10, translations: {
          placeholder: "Search posts"
        } });

    const input = document.querySelector("#site-search input")
    input.addEventListener("focus", () => {

      const drawer = document.querySelector(`.${DRAWER_ID}`)
      if(drawer) {
        drawer.classList.remove("hidden")
      }
    })

    window.addEventListener("click", (ev) => {
      const target = ev.target
      const drawer = document.querySelector(`.${DRAWER_ID}`)
      
      if(!target.closest(`.${DRAWER_ID}`) && !target.closest("#site-search input")) {
        drawer.classList.add("hidden")
      }
    })

  });
</script>