<header>
  <div>
    <!-- Title and Description -->
    <div>
      {{ if or .IsHome (not .IsPage) }}
      {{ else }}
      <h1>{{ .Title }}</h1>
      {{ end }} {{ if .IsHome }} {{ with .Site.Params.description }}
      <h3>{{ . }}</h3>
      {{ end }} {{ else }} {{ with .Params.Description }}
      <h3>{{ . }}</h3>
      {{ end }} {{ end }}
    </div>

    <!-- Details-->
    {{ if .IsPage }}
    <div>
      {{ if .Date }}
      <div>
        <div title="Date posted">
          <i></i>
          <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>
      </div>
      {{ end }} {{ if .Params.Series }}
      <a href="/series/{{ .Params.Series | urlize  }}">
        <i class="fas fa-book "></i>
        {{ .Params.Series }}
      </a>

      {{ end }}
    </div>
    {{ end }}
  </div>
</header>