{{ define "main" }}

<div class="container is-relative" style="top: -288px;">
    <div class="post-header has-text-white has-margin-all-4-touch has-margin-bottom-4-desktop">
        <!-- Title and Description -->
        <div class="has-margin-bottom-3">
            <h1 class="is-marginless is-size-3-touch is-size-1-desktop">
                {{ .Title }}
            </h1>

            {{ if .Params.Description }}
            <h3 class="has-text-grey-lighter is-size-5-touch is-size-3-desktop">
                {{ .Params.Description }}
            </h3>
            {{ end }}
        </div>

        <!-- Details-->
        <div class="is-flex-desktop flex-row  has-text-grey-lighter">
            {{ if .Params.Author }}
            <div class="d-flex flex-row align-middle post-detail align-middle has-margin-right-3" title="Author">
                <i class="material-icons has-text-grey-light has-margin-right-1">person</i>
                <a class="has-text-grey-lighter" href="{{ .Site.BaseURL }}/about">{{ .Params.author }}</a>
            </div>
            {{ end }}

            {{ if .Params.Category }}
            <div class="d-flex flex-row is-align-middle post-detail" title="Category">
                <i class="material-icons has-text-grey-light has-margin-right-1">folder</i>
                {{ with .Params.category }}
                <a class="has-text-grey-lighter" href="category/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>

    <main class="has-background-white has-padding-all-5">
        <article>
            {{ .Content }}
        </article>
    </main>
</div>

{{ partial "sidebar.html" . }}
{{ end }}