<article class="summary has-padding-bottom-4">
    <h1 class="is-size-3-desktop is-size-5-touch"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

    <div class="is-flex is-flex-row has-margin-bottom-3">

        <div class="is-flex is-flex-row is-align-middle  has-margin-right-3"
            title="Posted on {{ .Date.Format "Jan 2, 2006" }}">
            <i class="material-icons has-text-grey has-margin-right-1">today</i>
            <time class="has-text-grey">{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>
    </div>

    <p class="is-size-5">
        {{ .Summary }}
        {{ if .Truncated }}
        <a href="{{ .Permalink }}">Read more...</a>
        {{ end }}
    </p>
</article>