{{$type := (.Get "type")}}

{{ if(eq $type "primary")}}
<div class="alert message is-primary">
    <div class="message-body is-flex is-flex-row is-align-center">
        {{ .Inner}}
    </div>
</div>
{{else if (eq $type "secondary")}}
<div class="alert message is-secondary">
    <div class="message-body is-flex is-flex-row is-align-center">
        {{ .Inner}}
    </div>
</div>
{{else if (eq $type "success")}}
<div class="alert message is-success">
    <div class="message-body is-flex is-flex-row is-align-center">
        <i class="material-icons pr-3">
            check
        </i>
        {{ .Inner}}
    </div>
</div>
{{else if (eq $type "danger")}}
<div class="alert message is-error">
    <div class="message-body is-flex is-flex-row is-align-center">
        <i class="material-icons pr-3">
            error
        </i>
        {{ .Inner}}
    </div>
</div>
{{else if (eq $type "warning")}}
<div class="alert message is-warning">
    <div class="message-body is-flex is-flex-row is-align-center">
        <i class="material-icons pr-3">
            warning
        </i>
        {{ .Inner}}
    </div>
</div>
{{else if (eq $type "info")}}
<div class="alert message is-info">
    <div class="message-body is-flex is-flex-row is-align-center">
        <i class="material-icons pr-3">
            info
        </i>
        {{ .Inner}}
    </div>
</div>
{{else if (eq $type "light")}}
<div class="alert message is-light">
    <div class="message-body is-flex is-flex-row is-align-center">
        {{ .Inner}}
    </div>
</div>
{{else if (eq $type "dark")}}
<div class="alert message is-dark">
    <div class="message-body is-flex is-flex-row is-align-center">
        {{ .Inner}}
    </div>
</div>
{{else}}
<div class="alert message is-primary">
    <div class="message-body is-flex is-flex-row is-align-center">
        {{ .Inner}}
    </div>
</div>
{{end}}