#hero-header {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#hero-header .hero-body {
  align-items: flex-end !important;
  padding-bottom: 64px;
}

.post-header {
  margin-bottom: 32px;
}

.post-details div {
  margin-right: 16px;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-middle {
  align-items: middle;
}

.justify-center {
  justify-content: center;
}

.justify-self-end {
  justify-self: end;
}
